.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92vw;
}
.imge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99.5%;
}
.discover
{
    margin-right: 46px;
}