.heading
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#headicon
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#dep
{
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 12px;
}
.navbar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
}
#bodyimage
{
    height: 900px;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: auto;
}
.imge
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}